* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  box-sizing: border-box;
}
/*Bootstrap*/
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
/*Main*/
body {
  background-color: #f9f5f1;
}
.navbar {
  position: fixed;
  height: 100px;
  top: 100px;
  background: #99E53F;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  border-radius: 5px;
}
.info-bar {
  position: absolute;
  height: 370px;
  left: 0px;
  top: 200px;
}
.slider-block {
  position: absolute;
  height: 506px;
  left: 0px;
  top: 570px;
  background: #99E53F;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.fotorama {
  min-height: 100%;
  position: absolute;
}
.widget-block {
  position: absolute;
  height: 631px;
  left: 0px;
  top: 1076px;
  padding: 0;
}
.widget {
  position: relative;
  display: block;
  border-radius: 30px;
  height: 90%;
  left: 25%;
  top: 5%;
}
.footer {
  position: absolute;
  height: 355px;
  left: 0px;
  top: 1707px;
  background: #99E53F;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  border-radius: 5px;
}
